@import '../../../styles/mixins/fonts-mixins.scss';

.issuesCards {
  background-color: #CED4DA;
  border-radius: 5px;
  padding: 10px 15px;
  max-height: 550px;
  overflow: auto;

  &__card {
    overflow: hidden;
    text-overflow: ellipsis;
    @include font-bold(16px);

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-content {
      @include font-medium(14px);
    }

    &-row {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}
