@import '../../styles/mixins/fonts-mixins.scss';
@import '../../styles/mixins/screen-mixins.scss';

.issueColumns {
  margin-bottom: 20px;

  &__columnTitle {
    text-align: center;
    margin-bottom: 10px;
    @include font-bold(20px);
    @include media-up-to(440px) {
      font-size: 15px;
    }
  }
}

.emptyMessage {
  min-height: 50px;
  background: #CED4DA;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font-bold(20px);
  transition: all 0.3s ease-in-out;
  @include media-up-to(870px) {
    font-size: 15px;
    padding: 10px 20px;
  }

  opacity: 0;
  transform: translateY(-10px);

  &--visible {
    opacity: 1;
    transform: translateY(0px);
  }
}