@font-face {
  font-family: 'Optimistic_Display-Medium';
  src: url('../../fonts/Optimistic_Display_W_Md.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@mixin font-medium($size: 16px) {
  font-family: 'Optimistic_Display-Medium', sans-serif;
  font-weight: 500;
  font-size: $size;
}

@font-face {
  font-family: 'Optimistic_Display-Bold';
  src: url('../../fonts/Optimistic_Display_W_Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@mixin font-bold($size: 16px) {
  font-family: 'Optimistic_Display-Bold', sans-serif;
  font-weight: 700;
  font-size: $size;
}
